/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* REGOLE GENEREALI */
:root{
    --primary-color: #0084FD;
    --primary-color-light: #B5DDFF;
    --secondary-color: #9792E4;
    --main-space: 2rem;
}

body{
    font-family: 'PT Sans', sans-serif;
}

.container{
    max-width: 600px;
    margin: 0 auto;
    padding: 0 var(--main-space);
}

.box-debug{
    background-color: var(--primary-color-light);
    padding: 10px;
}

/* HEADER */
header{
    background-color: var(--primary-color);
}

.site-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* MAIN */
/* Intro */
#intro{
    padding: var(--main-space) 0;
}


#intro .cards{
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.75rem;
}

#intro .cards .card{
    width: calc((100% / 3) - 1.5rem);
    margin-bottom: var(--main-space);
    margin-left: 0.75rem;
    margin-right: 0.75rem;

    margin-bottom: var(--main-space);
    background-color: var(--primary-color-light);
} 

#intro .cards .card:first-child{
    width: calc(((100% / 3) * 2) - 1.5rem);
    display: flex;
    justify-content: space-between;
} 

#intro .cards .card:first-child > *{
    width: 50%;
} 

/* Planning */
#planning{
    padding: var(--main-space) 0;
    background-color: var(--secondary-color);
}

/* FOOTER */
footer{

}

/* MEDIA QUERY */
/* MOBILE -> TABLET */
@media screen and (min-width: 480px) {

    .container{
        max-width: 750px;
    }

}

/* TABLET -> DESKTOP */
@media screen and (min-width: 768px) {

    .container{
        max-width: 1000px;
    }

}